{assign var="v" value=$page->getInsertion()}

<div>
	<h1>Просмотр объявления</h1>
	{if $v}
		<script type="text/javascript" language="javascript" src="/js/lytebox/lytebox.js"></script>
		<link rel="stylesheet" href="/js/lytebox/lytebox.css" type="text/css" media="screen" />				
		
		<div class="insertion_item">
			<div><strong>{$v->type_name}</strong> {$v->text} <a href="{$v->url}" title="Постоянная ссылка на объявление"><img src="/images/link.png" /></a></div>
			<div><strong>Регион:</strong> {$v->region_name}</div>
			<div><strong>Контактное лицо:</strong> {$v->author}</div>
			<div><strong>Телефон:</strong> {$v->phone}</div>				
			{foreach from=$v->getPhotos() item=photo key=index}
				<a href="/i/insertions/{$photo}" rel="lytebox[{$v->id}]" title="Просмотреть фото № {$index+1}">
					<img src="/images/photo.png" alt="фото" />
				</a>
			{/foreach}		
		</div>
	{else}
		Объявление не прошло проверку либо истек срок действия
	{/if}
</div>